@using WebCinema.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href="~/Content/MakaleSliderCss/style.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <!-- Start slider -->
	<link rel="stylesheet" type="text/css" href="~/Scripts/ImageSlider/style.css" media="screen" />
	<style type="text/css">a#vlb{display:none}</style>
	<script type="text/javascript" src="~/Scripts/ImageSlider/jquery.js"></script>
	<!-- End slider -->

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    

    <div class="header">
        <div id="slogan">HELLO WORD!</div>
        <div id="top_menu">
            <a href="~/Anasayfa/KayitOl">Kayıt Ol</a>
            @if(Session["username"]==null)
            {
                <a href="~/Login">Giriş Yap</a>        
            }else{
                <a href="~/Uye/Logout">Çıkış Yap</a>
            }
        </div>
    </div>
    <div class="content">
        <div class="left">
            <div id="left_title">KATEGORİLER</div>
            <ul id="menu">
            @foreach (kategoriler val in ViewBag.kategoriler)
            {
                <li><a href="~/Anasayfa/Kategori/@val.id">@val.kategoriAdi</a></li>
            }
            </ul>
            @if(Session["username"]!=null)
            {
            <div id="left_title">KULLANICI MENÜSÜ</div>
            <ul id="menu">
                <li><a href="~/Uye">Profil Bilgilerim</a></li>
                <li><a href="~/Uye/ProfilDuzenle">Profil Düzenle</a></li>
                <li><a href="~/Uye/MesajGonder">Mesaj Gönder</a></li>
                <li><a href="~/Uye/GelenKutusu">Gelen Kutusu</a></li>
            </ul>
            }
        </div>
        <div class="content-body">@RenderBody()</div>
        <div class="clear"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/MakaleSliderJs/index.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js'></script>
    @RenderSection("scripts", required: false)

</body>
</html>
