@using WebCinema.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href="~/Content/MakaleSliderCss/style.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    

    <div class="header">
        <div id="slogan"><br />Yönetim Paneli<br /><font size="2">Ürünlerinizi Ve Satışlarınızı Yönetin</font></div>
        <div id="top_menu">
            <a href="#">Çıkış Yap</a>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <div id="left_title">Kategori Yönetimi</div>
            <ul id="menu">
                <li><a href="~/UyeKategoriYonetimi/YeniKategoriEkle">Yeni Kategori Ekle</a></li>
                <li><a href="~/UyeKategoriYonetimi">Tüm Kategoriler</a></li>
            </ul>

            <div id="left_title">Ürün Yönetimi</div>
            <ul id="menu">
                <li><a href="~/UyeUrunYonetimi/YeniUrunEkle">Yeni Ürün Ekle</a></li>
                <li><a href="~/UyeUrunYonetimi/">Tüm Ürünler</a></li>
            </ul>
            <div id="left_title" title="Ürün Ve Görsel İçeriklerinizin Resimlerini Yönetin">Resim Yönetimi</div>
            <ul id="menu">
                <li><a href="~/UyeResimYonetimi/">Resimlerim</a></li>
                <li><a href="~/UyeResimYonetimi/ResimYukle">Yeni Resim Yükle</a></li>
            </ul>
            <div id="left_title">Sayfa Şablonları</div>
            <ul id="menu">
                <li><a href="~/UyeSablonYonetimi/Anasayfa">Ana Sayfa</a></li>
            </ul>
            <div id="left_title">Modüller</div>
            <ul id="menu">
                <li><a href="~/UrunModulAyarlari">Slider</a></li>
                <li><a href="~/UrunModulAyarlari/XmlCreate">XML Oluşturucu</a></li>
                <li><a href="~/UrunModulAyarlari/XmlImport">XML den Ürün Ekle</a></li>
            </ul>
            <div id="left_title">Ayarlar</div>
            <ul id="menu">
                <li><a href="~/SiteConfig">Site Ayarları</a></li>
                <li><a href="~/SiteConfig/Seo">Seo Ayarları</a></li>
                <li><a href="~/SiteConfig/Contact">İletişim Bilgileri</a></li>
            </ul>
            
        </div>
        <div class="content-body">@RenderBody()</div>
        <div class="clear"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/MakaleSliderJs/index.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js'></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
      <script>
          $(function(){
              $(document).tooltip();
          });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
